[main]
host = https://www.transifex.com
lang_map = ja: ja_JP

# POT file from the transifex-test repo
[pe-ui.messages_transifextestpot]
source_file = locales/transifex-test.pot
source_lang = en
type = PO
lang_map = ja: ja_JP
file_filter = locales/ja_JP/ja.po

# POT file from pe-console-ui/locales
[pe-ui.messagespot]
source_file = locales/messages.pot
source_lang = en
type = PO
lang_map = ja: ja_JP
file_filter = locales/ja.po

# POT file from sinatra-i18n-example
[sinatra-1.sinatra-i18npot]
source_file = locales/sinatra-i18n.pot
source_lang = en
type = PO
lang_map = ja: ja_JP
file_filter = locales/ja/ja.po

#[pe-ui.messages2pot]
#source_file = dev-resources/console-ui/locales/messages.pot
#source_lang = en
#type = PO
#lang_map = ja: ja_JP
#file_filter = dev-resources/console-ui/locales/ja.po

#[pe-ui.classifiershapot]
#source_file = locales/classifier.pot
#source_lang = en
#type = PO
#lang_map = ja: ja_JP
#file_filter = locales/ja.po
